[submodule "lib/sdl2"]
	path = lib/sdl2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
